<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= tag.div data: { controller: 'hello' }  %>

<%= tag.div data: { controller: 'toggle', toggle_hidden_class: 'hide-me', toggle_visible_class: 'show-me', toggle_highlight_class: 'highlight-me' } do %>
  <%= tag.button 'Toggle visibility', data: { action: 'click->toggle#toggleVisibility', toggle_element_param: 'divToToggle' }%>
  <%= tag.div 'Toggle my visibility', data: { toggle_target: 'divToToggle' } %>
  <%= tag.button 'Show dropdown', data: { action: 'toggle#show' } %>
  
  <%= select_tag 'items', options_for_select(%w[a b c], :b), class: 'hide-me', data: { toggle_target: 'dropDownToShow' } %><br>
  <%= tag.select name: 'items', id: 'items', class: 'show-me', data: { toggle_target: 'dropDownToShow2' }  do %>
    <%= options_for_select(%w[a b c], :b) %>
  <% end %>
  <%= tag.select options_for_select(%w[a b c], :b), name: 'items', id: 'items', class: 'show-me', data: { toggle_target: 'dropDownToShow2' } %>

  <%= tag.button 'Hide me and show another button', data: { action: 'toggle#hideThenShow', toggle_target: 'buttonToHide', toggle_hide_param: 'buttonToHide', toggle_show_param: 'buttonToShow' } %>
  <%= tag.button 'Show me after hiding other button', data: { toggle_target: 'buttonToShow' }, class: 'hide-me' %><br>
  
  <%= check_box_tag 'accept', '1', false , data: { action: 'change->toggle#highlightParent' } %>
  <%= tag.input type: 'checkbox', name: 'accept', id: 'accept', value: '1', data: { action: 'change->toggle#highlightParent' } %>

<% end %>


